.home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vw;
}
@media (max-width:650px){
    .home-container{
        margin-top:5rem;
    }
}
.home-container h2 {
    font-size: clamp(3rem, 5vw, 5rem);
    margin-block: 0;
    text-align: center;
}
.home-container p{
    font-size: 1.2rem;
    text-align: center;
}