.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 50vw;
  /* background: url(src/assets/home/falcon-heavy-arrow.webp) no-repeat center/contain black; */
  background: url(../../assets/portfolio-contents/sd-images/falcon-heavy-arrow.webp) no-repeat center right/cover;
  text-shadow: 0 0 11px black;
  padding-left: 2rem;
}
@media (max-width: 650px) {
  .home-container {
    margin-top: 5rem;
  }
}
.home-container h1 {
  font-size: clamp(2rem,4vw,4rem);
  margin-block: 0;
  text-align: left;
}
.home-container p {
  font-size: 1.2rem;
  text-align: center;
}
#home-filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  column-gap: 5%;
  row-gap: 1rem;
  font-size: 1.25rem;
  padding: 1rem 0;
  margin-top: 5rem;
}
#home-filters > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: relative;
  overflow: hidden;
}
#home-filters a > span {
  position: absolute;
  opacity: 0;
  bottom: -100px;
  transition: all .25s ease;
}
#home-filters > a:hover img,
#home-filters > a:focus img { 
  transition: all .25s ease;
  overflow: hidden;
  opacity: .2;
}
#home-filters > a:hover span,
#home-filters > a:focus span{
  bottom: 20px;
  opacity: 1;
}
@media screen and (max-width: 725px) {
  #home-filters > a img{
    opacity: .25;
  }
  #home-filters > a span{
    bottom: 0px;
    opacity: 1;
    display: flex;
    width: 100%;
    background: #000000a2;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
}  