.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 50vw;
  background: url(../../assets/portfolio-contents/sd-images/full_moon_mars-cropped.jpg) no-repeat center/contain black;
  background: url(../../assets/portfolio-contents/sd-images/falcon-heavy-arrow.webp) no-repeat center right/cover;
  text-shadow: 0 0 11px black;
  padding-left: 2rem;
}
@media (max-width: 650px) {
  .home-container {
    margin-top: 5rem;
  }
}
.home-container h2 {
  font-size: clamp(2rem,4vw,4rem);
  margin-block: 0;
  text-align: left;
}
.home-container p {
  font-size: 1.2rem;
  text-align: center;
}
#home-filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  column-gap: 5%;
  font-size: 1.25rem;
  padding: 1rem 0;
}
#home-filters > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
#home-filters > a:hover img { 
  transition: all .25s ease;
}
#home-filters > a:hover img {
  overflow: hidden;
  opacity: .2;
}