header {
  height: 2rem;
  box-shadow: 0 0 white;
  display: flex;
  align-items: center;
  padding: .25rem;
}
header .title {
  margin-right: auto;
}
header .title a{
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
}
nav ul {
  display: flex;
  list-style: none;
}
nav li{
    padding: .5rem 1rem;
}