:root {
  --primary: rgb(219, 191, 81);
  --secondary: rgb(202, 202, 202);
  --text: #fff;
  --background: black;
}
h2{
  color: rgb(188, 188, 188);
  font-weight:100;
  padding-left:.25rem;
}
body {
  box-sizing: border-box;
  background: var(--background);
  color: var(--text);
}

:is(h1, h2, h3, h4, h5, h5) {
  font-size: 1rem;
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  color: var(--secondary);
}
